/**********************
*                     *
*   Hero              *
*                     *
***********************/

.hero-wrapper {
  &.hero-bg {
    height: calc(100vh - 76px);
    // @include retina-background-image("../img/hero", "jpg", cover);
  }
  &.hero-canvas {
    height: 500px;
    background-color: $brand-dark;
    @include breakpoint($mobile) {
      height: calc(100vh - 76px);
    }
  }
  .hero-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .btn {
      border: 0;
      &.mrm {
        @include breakpoint($mobile) {
          margin-right: 0 !important;
        }
      }
    }
  }
}